*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    text-align: center;
}
img{
    max-width: 100%;
}
#moviesRow{
    background: #fff;
    margin: 40px auto;
    width: 700px;
    height: 250px;
    border: 1px solid #ddd;
}
.movieBox{
    text-align: center;
    margin: 0 10px;
    width: 150px;
    list-style-type: none;
    float: left;
    height: 100%;
}
.mPost img{
    margin-top: 10px;
    width: 128px;
}
.mTitle{
    text-align: center;
}
.mScore{
    font-size: 14px;
    color: #E9967A;
}
li{
    width: 140px;
    height: 230px;
    position: relative;
}
.delMovie{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border-radius: 10px;
    color: #fff;
    background: skyblue;
    border: 1px solid skyblue;
}
.delMovie:hover{
    color: skyblue;
    background: #fff;
}
#movies{
    width: 800px;
    height: 600px;
    margin: auto;
    background:#fff;
}